
<div id="expand-triangle" [ngStyle]="
{
    'left': triangleOffset,
    'transition': isMenuExpanded && !updatingOffset ? 'left linear .25s .32s': 'none'
}"
(click)="toggleMenu()"
></div>


<div id="sidebar" class="col-container" [ngStyle]="
{
    'left': isMenuExpanded ? '0px' : '-100%'
}"
(window:resize)="updateTriangleOffset()"
>
<perfect-scrollbar>
    <div>
        <h3>Items In This Coord</h3>

        <!-- Adding new products -->
        <div id="new-item-creator" class="col-container">

            <div id="url-entry" class="row-container">
                <input id="new-item-input" type="text" placeholder="Enter URL" [(ngModel)]="currentURL">
                <button id="new-item-submit" class="noBorderBtn" (click)="onAddItemButton()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <div id="new-image-choices" class="col-container" *ngIf="newImagesActive">
                <h4>Select the image you'd like to use for this product.</h4>
                <product-img-card *ngFor="let img of newImageSources" class="new-img-choice" [imageSrc]="img"
                (badImageEvent)="handleBadImage($event)"
                (click)="selectNewImage($event)"
                ></product-img-card>
            </div>

        </div>
        <div style="position: relative; height: 50px">
        <ngx-spinner name="add-product-spinner" bdColor="rgba(0,0,0,0)" [fullScreen]="false" size="medium" type="ball-circus"></ngx-spinner>
        </div>
        <div id="new-items-list"></div>

        <!-- Managing existing products -->
        <div id="products-list" class="col-container">
            <product-panel *ngFor="let product of activeProducts"
            [productRef]="product" 
            ></product-panel>
        </div>
    </div>
</perfect-scrollbar>
</div>
