
<div [ngStyle]="
{
    'width': editorWidth + 'px',
    'height': editorHeight + 'px'
}" 
*ngIf="initialized"
style="overflow: hidden">
    <perfect-scrollbar>
        <div id="editor-container" class="col-container" 
        [ngStyle]="
        {
            'width': editorWidth + 'px',
            'height': editorHeight + 'px'
        }"
        >   
            <!--<div class="purple-splash"></div>-->

            <div *ngFor="let prod of activeProducts">
                <editor-img 
                [productRef]="prod"
                [editorMaxX]="editorWidth"
                [editorMaxY]="editorHeight"
                [loaded]="isExistingCoord"
                [ngStyle]="
                {
                    'opacity': prod.isHidden ? '0%' : '100%'
                }"
                ></editor-img>
            </div>
        </div>
    </perfect-scrollbar>

</div>

<!-- Popup to select width -->
<div class="screen-cover col-container" *ngIf="!initialized && !isExistingCoord">

    <div id="width-select" class="col-container" >
        <div class="purple-splash"></div>

        <div id="width-info" class="col-container">
            <h3>Select canvas dimensions</h3>

            <div class="col-container">

                <div class="row-container" style="margin-bottom: 12px">
                    <label for="editor-width-input">Width: </label>
                    <input type="number" name="editor-width-input" id="editor-width-input" value=800 [(ngModel)]="editorWidth">
                    <p>px</p>
                </div>

                <div class="row-container">
                    <label for="editor-height-input">Height: </label>
                    <input type="number" name="editor-height-input" id="editor-height-input" value=800 [(ngModel)]="editorHeight">
                    <p>px</p>
                </div>
            </div>
        </div>

        <button id="submitDimensionsBtn" (click)="onSubmitDimensionsBtnClick()">CREATE</button>
    </div>
</div>
