<div class="outer-resize" #imgContainer
[style.left.px]="currLeftOffset"
[style.top.px]="currTopOffset"
[style.z-index]="currZIdx"

(drag)="disableDrag($event)"
(dragstart)="disableDrag($event)"
(contextmenu)="handleRightClick($event)"
>
    <!-- Image -->
    <img [src]="imageSrc"
    [style.width.px]="currWidth"
    [style.height.px]="currHeight"
    >

    <!-- Resizers -->
    <div class="resizer resizer-tl" (mousedown)="onResizerMousedown($event)"></div>
    <div class="resizer resizer-tr" (mousedown)="onResizerMousedown($event)"></div>
    <div class="resizer resizer-bl" (mousedown)="onResizerMousedown($event)"></div>
    <div class="resizer resizer-br" (mousedown)="onResizerMousedown($event)"></div>

    <!-- Mover -->
    <div class="mover" (mousedown)="onMoverMousedown($event)" ></div>

    <!-- Menu for image options -->
    <div class="image-options col-container" *ngIf="isOptionsMenuOpen">
        <ul class="options-list">
            <li class="image-option" (click)="onMoveForwardClicked()">Move forward</li>
            <li class="image-option" (click)="onMoveBackwardClicked()">Move backward</li>
        </ul>
    </div>
</div>