.outer-resize{
    position: relative; 
}

/* Resizing image */ 
.resizer{
    position: absolute; 
}

.resizer-tl{
    top:0px; 
    left: 0px; 
    width: 5%;
    height: 5%; 
    cursor: nw-resize; 
}

.resizer-tr{
    top:0px; 
    right: 0px; 
    width: 5%;
    height: 5%; 
    cursor: ne-resize; 
}

.resizer-bl{
    bottom:0px; 
    left: 0px; 
    width: 5%;
    height: 5%; 
    cursor: sw-resize; 
}

.resizer-br{
    bottom:0px; 
    right: 0px; 
    width: 5%;
    height: 5%; 
    cursor: se-resize; 
}

/* Moving image */ 
.mover{
    position: absolute; 
    top: 5%; 
    right: 5%; 
    width: 90%; 
    height: 90%; 
    cursor: move; 
}