*{
    margin: 0; 
    border: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body, html{
    width: 100vw; 
    height: 100vh; 
    overflow: hidden; 
}

.row-container{
    display: flex;
    flex-flow: row; 
}

.col-container{
    display: flex;
    flex-flow: column; 
}

.noBorderBtn{
    border: none;
    background: none;
    outline: none; 
}
.noBorderBtn:focus{
    border: none;
    background: none;
    outline: none; 
    cursor: pointer; 
}
.noBorderBtn:hover{
    border: none;
    background: none;
    outline: none; 
    cursor: pointer; 
}
.noBorderBtn:active{
    border: none;
    background: none;
    outline: none; 
}

/* Color palette definitions */ 
:root{
    --orange-med: #FFC07F; 
    --orange-light: #FFCF99; 
    --brown-dark: #32292F; 
    --brown-light: #A1886C; 
    --purple-dark: #543449; 
}