#sign-in-outer{
    background-color: var(--purple-dark);
    width: 100vw; 
    height: 100vh; 
    align-items: center;
    justify-content: center;
}

#sign-in-title{
    font-family: 'Comfortaa', sans-serif; 
    font-weight: 600; 
    font-size: 2.5rem;
    margin-left: 5%; 
    color: white;
}

#sign-in-title span{
    font-size: 3rem; 
    color: var(--orange-light); 
}


#sign-in-inner{
    background-color: whitesmoke;
    border-radius: 8px; 
    min-width: 40vw; 
    min-height: 40vh; 
    margin-left: 5%; 
    padding: 15px; 
    justify-content: space-evenly;
    position: relative; 
}


#sign-in-inner label{
    font-family: 'Dosis', sans-serif;
    font-weight: 600; 
    font-size: 2rem; 
    color: var(--brown-light); 
    margin-right: 10px; 
}

#sign-in-inner input{
    background: none; 
    font-family: 'Dosis', sans-serif; 
    font-weight: 400;
    font-size: 2rem; 
    border: none; 
    border-bottom: 2px solid var(--brown-dark); 
    width: 65%; 
}

#sign-in-inner input:focus{
    border: none;
    border-bottom: 2px solid var(--brown-dark); 
    outline: none; 
}

#sign-in-inner p{
    font-family: 'Dosis', sans-serif; 
    font-weight: 400; 
    font-size: 1.3rem; 
    color: var(--brown-dark); 
}

#create-account-notice{
    color: var(--orange-med);
}

#create-account-notice:hover{
    cursor: pointer; 
}

#sign-in-btn, #create-account-btn{
    background-color: var(--brown-dark);
    color: white; 
    font-family: 'Dosis', sans-serif; 
    font-weight: 600; 
    font-size: 2rem; 
    padding: 10px; 
    border-radius: 8px; 
    width: min-content;
    align-self: center; 
    transition: 1s linear background-color; 
}

#sign-in-btn:hover, #create-account-btn:hover{
    cursor: pointer; 
    background-color: var(--purple-dark); 
}

#sign-in-btn:disabled, #create-account-btn:disabled{
    background-color: gray;
    cursor: default; 
}


/* Clothing SVGs */ 
#shirt-svg{
    position: relative;
    transform: scale(20%); 
    animation-name: shirt-move; 
    animation-duration: 3s; 
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shirt-move{

    from{
        left: -10%;
        top: -10%;
    }

    70%{
        left: 10%; 
        top: 5%; 
    }

    to{
        left: 10%; 
        top: 5%; 
    }
}

#skirt-svg{
    transform: scale(20%); 
    position: relative;
    animation-name: skirt-move; 
    animation-duration: 3s; 
    animation-iteration-count: infinite;
    animation-direction: alternate; 
    animation-delay: .3s; 
}

@keyframes skirt-move{

    from{
        left: 0%; 
        top: 0%; 
    }

    70%{
        left: -20%; 
        top: 15%; 
    }

    to{ 
        left: -20%; 
        top: 15%; 
    }
}

@media screen and (max-width: 600px){

    #shirt-svg, #skirt-svg{
        transform: scale(35%); 
    }
}