<nav class="row-container">
    <a id="site-title" href="/my-coords">Coord</a>
</nav>

<div class="view-outer">

    <!-- Messages for nonexistant coords -->
    <h1 id="viewcoord-errormsg" *ngIf="errorActive">{{currErrorMsg}}</h1>
    <div [ngStyle]="
    {
        'width': editorWidth + 'px',
        'height': editorHeight + 'px'
    }" 
    style="overflow: hidden">
        <perfect-scrollbar>
            <div id="editor-container" class="col-container" 
            [ngStyle]="
            {
                'width': editorWidth + 'px',
                'height': editorHeight + 'px'
            }"
            >   
                <!--<div class="purple-splash"></div>-->

                <div *ngFor="let prod of activeProducts">
                    <editor-img 
                    [canEdit]="false"
                    [productRef]="prod"
                    [editorMaxX]="editorWidth"
                    [editorMaxY]="editorHeight"
                    [loaded]="prod['fromExistingCoord']"
                    [ngStyle]="
                    {
                        'opacity': prod.isHidden ? '0%' : '100%'
                    }"
                    ></editor-img>
                </div>
            </div>
        </perfect-scrollbar>

    </div>
</div>

<ngx-spinner type="ball-elastic-dots" name="extcoord-load" color="#543449"></ngx-spinner>