.img-container{

}

.img-container img{
    width: 150px; 
    height: 150px; 
}

@media screen and (max-width: 515px){
    .img-container img{
        width: 100px; 
        height: 100px; 
    }
}

@media screen and (max-width: 350px){
    .img-container img{
        width: 80px; 
        height: 80px; 
    }
}