nav{
    background-color: var(--brown-dark);
    color: white;
    width: 100%; 
    height: 8vh; 
    padding: 8px;
    justify-content: space-between; 
    align-items: center;
}

#site-title{
    font-family: 'Comfortaa', sans-serif; 
    font-weight: 600; 
    font-size: 2.5rem;
    font-style: none; 
    text-decoration: none;
}

#site-title:visited{
    color: white; 
    font-style: none; 
    text-decoration: none;
}

#site-title:active{
    color: white; 
    font-style: none; 
    text-decoration: none;
}

.screen-cover{
    display: flex; 
    flex-flow: row; 
    align-items: center;
    justify-content: center;
}

#saving-coord-popup h1{
    
    font-family: 'Dosis', sans-serif; 
    font-size: 3rem; 
    color: white; 
    font-weight: 500; 
    
}

.buttonsRow{
    min-width: 10%; 
    justify-content: space-evenly;
}

/* Link sharing popup */ 
#link-popup{
    background-color: white;
    font-family: 'Dosis', sans-serif; 

    border-radius: 8px; 
    min-width: 40vw; 
    min-height: 20vh;
    align-items: center;
    position: relative; 
}

#link-popup h4{
    font-size: 1.6rem;
    font-family: 'Dosis', sans-serif; 
    font-weight: 600;
    margin-right: 15px; 
}

#link-popup p{
    font-size: 1.2rem;
}

.purple-splash{
    width: 100%; 
    height: 20px; 
    background-color: var(--purple-dark);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.link-share-select{
    width: 100%; 
    align-items: center;
    justify-content: flex-start;
}

#linkShareCloseBtn{
    background-color: var(--purple-dark);
    color: white; 
    font-family: 'Dosis', sans-serif; 
    font-size: 1.2rem; 
    font-weight: 400; 
    border-radius: 8px; 
    padding: 5px; 
    margin-top: 5%; 
    align-self: center;
    position: absolute; 
    bottom: 10px; 
    min-width: 45px; 
}

#linkShareCloseBtn:hover{
    cursor: pointer; 
}