<nav class="row-container">
    <a id="site-title" href="/my-coords">Coord</a>

    <div class="row-container buttonsRow">
        <button *ngIf="isSaveEnabled" id="saveBtn" class="noBorderBtn" (click)="onSaveCoordBtnClick()">
            <mat-icon style="color: white;">save</mat-icon>
        </button>
        <button class="noBorderBtn" (click)="onLogoutBtnClick()">
            <mat-icon style="color: white;">logout</mat-icon>
        </button>
    </div>
</nav>

<div class="screen-cover" *ngIf="saving">
    <div id="saving-coord-popup">
        <h1>Now Saving...</h1>
        <ngx-spinner name="saving-spinner" type="ball-circus"></ngx-spinner>
    </div>
</div>