<nav class="row-container">
    <h1 id="site-title">Coord</h1>
    <button class="noBorderBtn" (click)="onLogoutBtnClick()">
        <mat-icon style="color: white;">logout</mat-icon>
    </button>
</nav>

<div class="row-container" id="coords-container">

    <coord-panel *ngFor="let coord of savedCoords" [coordID]="coord.coordID" [previewImgSrc]="getPreviewImgSrc(coord)" [hasPreview]="getPreviewImgSrc(coord) != ''"></coord-panel>

    <!-- Button to create new Coord -->
    <button id="createCoordBtn" class="noBorderBtn" (click)="openNewEditor()">
        <mat-icon style="color: #543449; transform: scale(2.5);">add</mat-icon>
    </button>
</div>